.Flight {
    width: 100%;
    background-color: transparent !important;
  }

  .FlightD {
    cursor: pointer;
  } 

  .Origin {
    margin-top: 0%;
    padding-top: 5%;}

  

.Left {
  float: left;
  display: block;
  margin-right: 1%;
  background-color: transparent !important;
}

.Left2 {
  margin-left: -36%;
  background-color: transparent !important;
}

.Arrow {
  position: absolute;
  right: 48%;
}

.Right {
  float: right;
  display: block;
  margin-left: 1%;
  background-color: transparent !important;
}

.Top {
  display: inline-block;
  margin-right: 30%;
  background-color: transparent !important;
}

.Down {
  display: inline-block;
  background-color: transparent !important;
}

h2 {
  background-color: transparent !important;
  font-family: monospace;
}

.Remove {
  margin-top: 5%;
  position: absolute;
  right: calc(47% - -6px);
}

.Add{
  margin-top: -3%;
  position: absolute;
  right: calc(15% - 0px);
}